* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

main {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}


.cocktails-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  gap: 20px;
}

.cocktail-card {
  background: white;
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
  cursor: pointer;
}

.cocktail-card img {
  width: 100%;
}

.detail-page img {
  width: 300px;
  margin-bottom: 20px;
}

.detail-page ul {
  margin-top: 10px;
}